PORT = 5000

DB_USER = postgres
DB_HOST = localhost
DB_NAME = url_shortener
DB_PASSWORD = ******
DB_PORT = 5432

BASE_URL = http://localhost:5000

REDIS_URL = redis://localhost:6379
KAFKA_BROKER = localhost:9092